.courseListItem {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 150px;
  margin-right: 80px;
  margin-bottom: 50px;
}

.courseLogo {
  margin-right: 10px;
}

.courseName {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
}
