.bgContainer {
  background-color: #ffffff;
  height: 100vh;
}

.courseItemsList {
  display: flex;
  flex-wrap: wrap;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 32px;
}

.coursesListContainer {
  padding-left: 60px;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImg {
  margin-bottom: 15px;
  margin-top: 50px;
  width: 450px;
}

.errorHeading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  margin-bottom: -10px;
}

.errorInfo {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.errorRetryButton {
  background-color: #4656a1;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px 25px 10px 25px;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
